NODE_ENV=development
PORT=5000
MONGO_URI=mongodb+srv://tisha123parmar:tisha78@cluster0.qcrejtj.mongodb.net/proshop?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=abc123
PAYPAL_CLIENT_ID=test
PAGINATION_LIMIT=8