PORT=5001
MONGO_URI = mongodb+srv://miliwe3vision_db_user:mmili7806@demo1.dldfyyj.mongodb.net/?appName=demo1
JWT_SECRET=<your_secret>
PAYPAL_CLIENT_ID=<your_paypal_client_id>
PAYPAL_APP_SECRET=<your_paypal_secret>
PAYPAL_API_URL=https://api-m.sandbox.paypal.com

